.add-icon {
  cursor: pointer;
  font-size: 1.4rem;
  position: absolute;
  right: 0.1rem;
  top: 1rem;
}

.delete-icon {
  cursor: pointer;
  font-size: 1.4rem;
}

.heart-icon {
  fill: red !important;
}
